.ab{
   text-align: center;
}
.cdf{
    text-align: center;
}
.g{
    text-align: center;
}

@media(min-width: 768px){
    .cdf{
        display: flex;
        background-color:green;
        justify-content: space-around;
    }
    .g{
        background-color: blueviolet;
    }
}

@media( min-width: 1024px){
    .ab{
        display: flex;
        background-color: aqua;
        justify-content: space-around;
    }
    .cdf{
        background-color: antiquewhite;
    }
    .g{
        background-color: red;
    }
}
